<h1>Lista de tarefas</h1>
<em>Criado em <%= Date.today %></em>
<h3>Sua lista de tarefas:</h3>
<p><a href="/tarefas/new">Criar novo item</a></p>

<ul>
<% @tasks.each do |task| %>
  <li><%= task.description %>
  <%= link_to 'Editar', edit_tarefa_path(task) %>
  <%= link_to 'Apagar', tarefa_path(task), method: :delete, 
      data: {confirm: "Quer apagar a tarefa '#{task.description}'?"} %>
<% end %>
</ul>
