<h1>Bem-vindo ao Task List!</h1>
<p>Isto é uma página HTML<br>
<em>Criada em <%= Date.today %></em></p>

<ul type="circle"> <!-- Monta uma lista com os resultados de tasks -->
<% @tasks.each do |task| %>
        <li><%= task.description %>
        <!-- Caminho para editar esse objeto específico -->
        <%= link_to 'Editar', edit_task_path(task) %>
<% end %>
</ul>
