<h1>Bem-vindo ao Task List!</h1>
<p>Isto é uma página HTML</p>
<em>Criada em <%= Date.today %></em>

<%# "Isso é um comentário" %>
<%= 'Mais que coisa mais chata, não consigo ver o resultado.' %>
<%= 'Tem uma coisa me atrapalhando' %>
<%= 1 + 3 %>
<% 3 + 3 %>